<div style="width: 500px; margin: auto;">
    <div *ngIf="currentUser" class="edit-form">
        <h4>User</h4>
        <form>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="currentUser.first_name" name="name" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentUser.last_name"
                    name="description" />
            </div>

            <div class="form-group">
                <label><strong>Status:</strong></label>

            </div>
        </form>

        <button class="badge badge-danger mr-2" (click)="deleteUser()">
            Delete
        </button>

        <button type="submit" class="badge badge-success" (click)="updateUser()">
            Update
        </button>
        <p></p>
    </div>

    <div *ngIf="!currentUser">
        <br />
        <p>This user is not accessible</p>
    </div>
</div>