<div style="width: 500px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="user.first_name" name="name" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" required [(ngModel)]="user.last_name"
                    name="description" />
            </div>

            <button (click)="createUser()" class="btn btn-success">Create</button>
        </div>

        <div *ngIf="submitted">
            <h3>You successfully created a user!</h3>
            <button class="btn btn-success" (click)="newUser()">New..</button>
        </div>
    </div>
</div>
